~/source/repos/Hale-MRI/SamB
/Hale-MRI/BindingSources.vb
/LibDatabase/Models/UsysApplicationLog.vb
/Hale-MRI/.vs
/Hale-MRI/bin
/Hale-MRI/obj
/Hale-MRI/My Project
/Hale-MRI/.vs/Hale-MRI/v17/.suo
/LibDatabase/obj/Release/net8.0
/LibEncoder/obj/Release/net8.0
