~/source/repos/Hale-MRI/SamB
/Hale-MRI/BindingSources.vb
/LibDatabase/Models/UsysApplicationLog.vb
/Hale-MRI/.vs
/Hale-MRI/bin
/Hale-MRI/obj
/Hale-MRI/My Project
/Hale-MRI/.vs/Hale-MRI/v17/.suo
/LibDatabase/obj/Release/net8.0
/LibEncoder/obj/Release/net8.0
/Hale-MRI/Hale-MRI.vbproj.user
/LibDisplayControls/obj/Release/net8.0-windows/LibDisplayControls.AssemblyInfo.vb
/LibDisplayControls/obj/Release/net8.0-windows/LibDisplayControls.AssemblyInfoInputs.cache
/LibDisplayControls/obj/Release/net8.0-windows/LibDisplayControls.assets.cache
/LibDisplayControls/obj/Release/net8.0-windows/LibDisplayControls.GeneratedMSBuildEditorConfig.editorconfig
/LibDisplayControls/obj/Release/net8.0-windows/LibDisplayControls.vbproj.AssemblyReference.cache
